@page "/dashboard-warehouse"
@using BlazorAppIntro.Components.Layout
@using Microsoft.AspNetCore.Components.Sections
@layout MainLayout


<PageTitle>
    Dashboard Kho
</PageTitle>

<SectionContent SectionId="MainLayout.AppTitle">
    <MudText Typo="Typo.h5">Dashboard Kho</MudText>
</SectionContent>

<div class="dashboard_warehouse">
    <div class="dashboard_charts">
        <div class="dashboard_chart_top">
            <div class="chart_big_container">
                <h1>Tổng Tồn Kho</h1>
                <div class="chart_item"></div>
            </div>

            <div class="chart_small_container">
                <div class="chart_item">
                    <div class="chart_content">
                        <div class="pie_chart"></div>
                        <h1>SỢI</h1>
                    </div>
                    <div class="legend">
                        <h1 class="full">Lấp đầy: 76%</h1>
                        <h1 class="position">Số vị trí: 50</h1>
                        <h1 class="empty_position">Vị trí trống: 5</h1>
                    </div>
                </div>

                <div class="chart_item">
                    <div class="chart_content">
                        <div class="pie_chart"></div>
                        <h1>SỢI</h1>
                    </div>
                    <div class="legend">
                        <h1 class="full">Lấp đầy: 76%</h1>
                        <h1 class="position">Số vị trí: 50</h1>
                        <h1 class="empty_position">Vị trí trống: 5</h1>
                    </div>
                </div>

                <div class="chart_item">
                    <div class="chart_content">
                        <div class="pie_chart"></div>
                        <h1>SỢI</h1>
                    </div>
                    <div class="legend">
                        <h1 class="full">Lấp đầy: 76%</h1>
                        <h1 class="position">Số vị trí: 50</h1>
                        <h1 class="empty_position">Vị trí trống: 5</h1>
                    </div>
                </div>

                <div class="chart_item">
                    <div class="chart_content">
                        <div class="pie_chart"></div>
                        <h1>SỢI</h1>
                    </div>
                    <div class="legend">
                        <h1 class="full">Lấp đầy: 76%</h1>
                        <h1 class="position">Số vị trí: 50</h1>
                        <h1 class="empty_position">Vị trí trống: 5</h1>
                    </div>
                </div>

                <div class="chart_item">
                    <div class="chart_content">
                        <div class="pie_chart"></div>
                        <h1>SỢI</h1>
                    </div>
                    <div class="legend">
                        <h1 class="full">Lấp đầy: 76%</h1>
                        <h1 class="position">Số vị trí: 50</h1>
                        <h1 class="empty_position">Vị trí trống: 5</h1>
                    </div>
                </div>

                <div class="chart_item">
                    <div class="chart_content">
                        <div class="pie_chart"></div>
                        <h1>SỢI</h1>
                    </div>
                    <div class="legend">
                        <h1 class="full">Lấp đầy: 76%</h1>
                        <h1 class="position">Số vị trí: 50</h1>
                        <h1 class="empty_position">Vị trí trống: 5</h1>
                    </div>
                </div>
            </div>
        </div>

        <div class="dashboard_chart_bottom">
            <div class="chart_item_left">
                <h1 class="bar_title">Tồn Kho Theo Thời Gian</h1>
                <div class="bar_chart"></div>
            </div>

            <div class="chart_item_right">
                <h1 class="bar_title">Xuất Nhập Tuần Này - Kho TP</h1>
                <div class="bar_chart">

                </div>
            </div>

        </div>

    </div>
</div>