@page "/dashboard-quality"

<div class="quality_contain">
    <div class="product_view_header">
        <h1 class="header_title">Dashboard Chất Lượng</h1>
    </div>

    <div class="quality_contain_charts">
        <div class="quality_contain_chart">
            <h3 class="chart_title">Tỷ lệ lỗi theo Mã Dệt</h3>
            <div class="chart_item"></div>
        </div>
        <div class="quality_contain_chart">
            <h3 class="chart_title">Tỷ lệ lỗi theo Mã Lỗi</h3>
            <div class="chart_item"></div>
        </div>
        <div class="quality_contain_chart">
            <h3 class="chart_title">Tỷ lệ lỗi theo Mã Hàng Sợi</h3>
            <div class="chart_item"></div>
        </div>
        <div class="quality_contain_chart">
            <h3 class="chart_title">Hoạt động PQC</h3>
            <div class="chart_item"></div>
        </div>
    </div>
</div>