@page "/product-view"

<PageTitle>Giám Sát Sản Xuất</PageTitle>

<div class="product_view">
    <div class="product_view_header">
        <h1 class="header_title">Giám Sát Sản Xuất</h1>
    </div>

    <div class="product_view_chart">
        <div class="product_chart_item">
            <h1>Tiến Độ Sản Xuất</h1>
            <div class="chart_content"></div>
        </div>
        <div class="product_chart_item">
            <h1>Chất Lượng</h1>
            <div class="chart_content"></div>
        </div>
        <div class="product_chart_item">
            <h1>Hiệu Suất Tổng Thể</h1>
            <div class="chart_content">
                
            </div>
        </div>
        <div class="product_chart_item">
            <h1>Thời Gian Dừng Máy</h1>
            <div class="chart_content">
                
            </div>
        </div>
        <div class="product_chart_item">
            <h1>Điện Năng Tiêu Thụ Theo Ngày</h1>
            <div class="chart_content"></div>
        </div>
        <div class="product_chart_item">
            <h1>So Sánh Phế Và Định Mức</h1>
            <div class="chart_content"></div>
        </div>
    </div>
</div>

